@(dbname: String, list: List[Node] )

@main("Welcome to Play 2.0") {
    
    <script>
    $(window).load(function() {
    	console.log(123);
    	
    $('.collections').click(function() {
    	var url = $(this).attr("href"),
    	   $iframe = $('#f');
    	
    	console.log(url, $iframe);
    	$iframe.attr('src', url);
    	return false;
    });
    	
    $('.deleteBtn').click(function(){
         var sure = confirm("Do you want to Delete this Collection?"),
         url = $(this).attr("href"),
         $li = $(this).parent();
         if (sure) {
        	 $.get(url, function(data){
        		 console.log(data);
        		 if (data && data.status) {
        			 alert("成功删除");
        			 $li.remove();
        		 } else {
        			 alert("删除失败: " + data.message);
        		 }
        	 });
        	 return false;
         }
         return false;
    });
    	
    	
    });
    </script>
    
    <div class="clearfix" >
        <div class="siderbar">
    
    <h1><a href="/databases">[^]</a>@dbname</h1>
    
    
    <ul>
    @for(item <- list) {
        <li><a class="collections" href="/objects/@dbname/@item.getName()">@item.getName() (@item.getCount())</a> 
            &nbsp;&nbsp;<a class="deleteBtn" href="/collections/delete/@dbname/@item.getName()">[x]</a>
        </li>
    } 
    </ul>
    
        </div>
        
        <div class="main">
            <iframe id="f" src="" width="100%" height="100%"></iframe>
        </div>
    </div>
    
}