@(message: String, dbConfigForm: Form[DbConfig])

@main("Welcome to Play 2.0") {
    
    
    <div style="width:300px; background: #eee; border: 1px solid #000; padding: 20px; margin: 100px auto;">
    <h3>MongoPlay</h3>
    @helper.form(action = routes.Application.databases()) {
        <input type="text" name="domain" value="127.0.0.1" /> : <input type="text" name="port" value="27017" style="width:40px" />
    
        <input type="submit" value="Login" />
    
    }
    <p class="error">@message</p>
    </div>
    
}