@(message:String,
  query: String,
  dbname: String,
  collectionName: String,
  list: List[ItemObject],
  page: Integer
   )


@main("Welcome to Play 2.0") {
    <script>
    $(function() {
    	$(window).load(function(){
    		
    		// Delete
    		$('.deleteBtn').button().click(function(){
    			var url = $(this).attr('href'),
    			    self = this;
    			
    			$.get(url, function(data){
    				console.log(data);
    				if (data && data.status) {
    					$box = $(self).parent().parent();
    					$title = $box.prev('h3');
    					//console.log($box, $title);
    					$box.remove();
    					$title.remove();
    					alert("成功删除");
    				} else {
    					alert("删除失败 " + (data != null ? data.message : ""));
    				}
    			});
    			
    			return false;
    		});
    		
    		// Next Page
    		$('.pager>a').button();
    		
    		$('input[type=submit]').button();
    	});
    	
        $( "#accordion" ).accordion({
        	 heightStyle: "content",
        	 active: false,
        	 collapsible: true
        });
    });
    </script>
    
    
    <h1><a href="/collections/@dbname">[^]</a>@dbname/@collectionName</h1>
    
    <form action="" method="get">
	    <textarea name="q" cols="80" rows="5">@query</textarea>
	    <input id="searchBtn" type="submit" value="Search" />
    </form>
    @if(message != null) {
    <p style="color: red">@message</p>
    }
    
    <div id="accordion">
    @for(item <- list) {
        <h3>@item.getName() (@item.getCount()) - @item.getObjectId()</h3>
        <div class="obj_body">
            <div class="toolbar" style="border-bottom: 1px dashed #ccc; padding-bottom: 5px;">
                <a class="updateBtn" href="/objects/update/dbname/collection/_id">Update</a> | 
                <a class="deleteBtn" href="/objects/delete/@dbname/@collectionName/@item.getObjectId()">Delete</a>
            </div>
            <table width="100%">
	        @for(field <- item.getChildren()) {
	        <tr>
	            <td>@field.getName():</td>
	            <td>@field.getValue()</td>
	        </tr>
	        }
            </table>
        </div>
    } 
    </div>
    
    
    
    <div class="pager">
        <a href="?q=@query&page=1">首页</a> 
        <a href="?q=@query&page=@{val lastPage = page - 1; lastPage}">上一页</a> 
        <a href="" disabled="disabled">@page</a> 
        <a href="?q=@query&page=@{val nextPage = page + 1; nextPage}">下一页</a> 
    </div>
    
}