@(message:String,
  query: String,
  dbname: String,
  collectionName: String,
  list: List[ItemObject]
   )



@main("Welcome to Play 2.0") {
    <script>
    $(function() {
        $( "#accordion" ).accordion({
        	 heightStyle: "content",
        	 active: false,
        	 collapsible: true
        });
    });
    </script>
    
    
    <h1><a href="/collections/@dbname">[^]</a>@dbname/@collectionName</h1>
    
    <form action="" method="get">
	    <textarea name="q" cols="80" rows="5">@query</textarea>
	    <input type="submit" value="search" />
    </form>
    @if(message != null) {
    <p style="color: red">@message</p>
    }
    
    <div id="accordion">
    @for(item <- list) {
        <h3>@item.getName() (@item.getCount()) - @item.getObjectId()</h3>
        <div class="obj_body">
            <div class="toolbar" style="border-bottom: 1px dashed #ccc; padding-bottom: 5px;">
                <a href="/objects/update/dbname/collection/_id">[Update]</a> | 
                <a href="/objects/delete/dbname/collection/_id">[Delete]</a>
                @item.getObjectIdBase64()
            </div>
            <table width="100%">
	        @for(field <- item.getChildren()) {
	        <tr>
	            <td>@field.getName()</td>
	            <td>@field.getValue()</td>
	        </tr>
	        }
            </table>
        </div>
    } 
    </div>
    
    <div class="pager">
        <a href="?page=1">首页 </a> 
        <a href="?page=1">1</a> 
        <a href="?page=1">2</a> 
        <a href="?page=1">3</a> 
        <a href="?page=1">4</a> 
        <a href="?page=1">末页</a> 
        <a href="?page=1">下一页</a> 
    </div>
    
}